.tracks {
  min-width: 340px;
  padding-bottom: 16px;
  margin: 0 2px;
}

@media screen and (max-width: 649px) {
  .tracks {
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .tracks {
    width: 70%;
  }
}

.tracks-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
