.search-input {
  margin-top: 20px;
  /*width: 100%;*/
  padding: 8px 40px;
}

.search-artists {
  display: flex;
  overflow-x: scroll;
  padding: 8px;
}

.search-artists > .artist {
  margin-right: 16px;
}

.search-stub {
  margin-top: 20px;
  font-size: 18px;
  color: var(--text-secondary);
}
