.search {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  padding: 0 16px;
  overflow: hidden;
}

.search-input {
  margin-top: 20px;
  width: 100%;
  padding: 8px 40px;
}

.search-artists {
  display: flex;
  overflow-x: scroll;
  padding: 8px;
}

.search-title {
  font-size: 28px;
  margin-top: 8px;
}

.search-subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-artists > .artist {
  margin-right: 16px;
}

.search-tracks {
  width: 50%;
  min-width: 300px;
}

.search-input-container {
  position: relative;
  max-width: 360px;
  display: flex;
}

.search-input-icon {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.search-input-clear {
  position: absolute;
  right: 8px;
  bottom: 8px;
  cursor: pointer;
}

.search-input-clear:hover > svg {
  fill: rgba(0, 0, 0, 0.6);
}
