:root {
  --item-active: #4e54cc;
}

.app {
  display: flex;
  height: 100%;
}

.app-nav {
  width: 300px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  width: calc(100% - 300px);
}

.app-logo {
  margin: 20px auto;
}
